.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* === GRID === */
.dashboard-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 500px;
}

/* === BOTONES === */
.menu-card {
  background-color: white;
  color: #333;
  border-radius: 15px;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    transform 0.2s,
    background-color 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.menu-card:hover {
  transform: scale(1.05);
  background-color: #f5f5f5;
}

.card-icon {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}
/*tarjeta giratoria*/
.flip-container {
  background-color: transparent;
  perspective: 1000px;
  border-radius: 15px;
  cursor: pointer;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.flip-container.flipped .flip-inner {
  transform: rotateY(180deg);
}

.flip-front, .flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-front {
  background-color: white;
  color: #333;
}

.flip-back {
  background-color: #333;
  color: white;
  transform: rotateY(180deg);
  padding: 10px;
}

.profile-info h3 {
  margin: 0;
  font-size: 1rem;
  color: #fef131;
}

.profile-info p {
  margin: 5px 0 0;
  font-size: 0.8rem;
  word-break: break-all;
}