.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  text-align: center;
}

.dashboard-title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.dashboard-subtitle {
  font-weight: normal;
  font-size: 1.5rem;
  color: #ddd;
}

.dashboard-text {
  margin-top: 20px;
  color: #aaa;
}

.btn-logout {
  margin-top: 30px;
  padding: 10px 25px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background 0.3s;
}

.btn-logout:hover {
  background-color: #b71c1c;
}