.custom-table-container {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

/*titulo y añadir*/
.table-header {
  background-color: #fff;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
  font-weight: bold;
  color: #444;
}

/*botonn añadir*/
.btn-table-add {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
  width: fit-content;
  min-width: auto;
  flex-shrink: 0;
}
.btn-table-add:hover {
  background-color: #43a047;
}

.table-body {
  display: flex;
  flex-direction: column;
}

.table-row {
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-row:last-child {
  border-bottom: none;
}

.table-message {
  text-align: center;
  padding: 20px;
  color: #999;
  font-style: italic;
}
